
<div class="col-lg-12" @this.PrintViewNameAttr()>
    <h1>App Dashboard</h1>
    <p>
        
        To replace the content create a view called <span class="label label-primary"  >_DashboardIndexDefaultContent.cshtml</span>
        in your <b>views\shared</b> directory.
    </p>
</div>  