@inject Microsoft.AspNetCore.Mvc.ViewEngines.ICompositeViewEngine viewEngine
<div @this.PrintViewNameAttr()>
    @await Html.PartialAsync(this.GetViews().Dashboard.SupportDefaultContent)
    @await Html.PartialAsyncIfExists(this, viewEngine, this.GetViews().Dashboard.SupportOptionalContent, null)
</div>
