<div class="col-xs-12" @this.PrintViewNameAttr()>
    <h1>App Home Page</h1>
    <p>
        To replace the content create a view called <span class="label label-primary">HomeIndex.cshtml</span>
        in your <b>views\shared</b> directory.
    </p>
</div>  