@inject Microsoft.AspNetCore.Mvc.ViewEngines.ICompositeViewEngine viewEngine
<div @this.PrintViewNameAttr()>
    @await Html.PartialAsync(this.GetViews().MyProfile.IndexDefaultContent)
    @await Html.PartialAsyncIfExists(this, viewEngine, this.GetViews().MyProfile.IndexOptionalContent, null)
</div>
